body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:rgb(217, 213, 213);
  display: flex;
  justify-content: center;
}

.log{
    width: 50%;
}

a {
  color: rgb(3, 144, 199); 
}

.form-signin {
  margin: auto
}

* {
  
}
h3{

color: rgb(66, 66, 66);
font-size: 15px;

}





