body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 210px;
  background-color:rgb(217, 213, 213);
  display: flex;
  justify-content: center;
}

.log{
    width: 50%;
}

.center-page{
   border: 10px solid gray;
   max-width: 700px;
   width: 100%;
   height: 50vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

a {
  color: rgb(3, 144, 199);
}

.form-signin {
  margin: auto
}

<<<<<<< HEAD
* {
}


=======
 .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:rgb(200, 200, 200);
  text-align: center;
}

>>>>>>> d9f9265522dfab835f1bedfa5b29f407f60c6bcf
h3{

color: rgb(66, 66, 66);
font-size: 15px;

}
