<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoteAxe Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>

    <link rel='stylesheet' , href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' , href='/stylesheets/style.css' />
</head>

<body>
    <div class="center-page">
        <div class="text-center">
            <h1><b>Welcome to RemoteAxe</b></h1>
            <h2>Please Login or Register</h2>
            <br/>
            <h3>Retrieve and download your files from one computer remotely</h3>
            <br/>
            <div id="loginForm">
                <input class="log" type="text" id="username" class="form-control mb-3" name="username" placeholder="Username" required>
                <input class="log" type="password" id="password" class="form-control mb-3" name="password" placeholder="Password" required>
            </div>
            <br/>
            <button id="submit" class="btn btn-dark mb-3">Login</button>
            <p><a id="switcher" href="#">Not Registered? Register Here</a></p>
        </div>
    </div>

    <div class="footer">Need help? Contact at us via discord @adam#1234 or @60hz#4671</div>

</body>

</html>