doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/javascripts/login.js")
    body(class="text-center")
        div(class="mb-3 form-signin")
            h1 Registration / Login
            input(type="text" id="username" class="form-control mb-3" name="username" placeholder="Username")
            input(type="password" id="password" class="form-control mb-3" name="password" placeholder="Password")
            button(id="submit" class="btn btn-dark mb-3") Login!
